* {

    padding: 5px;

}

body {

    
    justify-content: center;
    align-items: center;
    background: url("../imagens/fundo.avif");
    background-size: cover;
    font-family: system-ui, -apple-system,Arial, Helvetica, sans-serif;
    
}

.form{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    

}

.envia {

    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1250px;
    max-height: 1250px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 8px;
    border: 1px solid black;
    margin: 10px;
    background: rgb(226, 226, 96);
    width: 455px;
    height: 420px ;
    padding: 35px;
}

.envia input{

    margin-top: -1px;
    background-color: white;
    padding-left: 10px;
    color: black; 
    border: none;
    height: 45px;
    outline: none;
    border-radius: 10px;

}

input::placeholder{

    color: rgb(65, 62, 62);
    font-size: 14px;
    letter-spacing: 1px;

}

.envia h1{

    margin-left: 105px;
    letter-spacing: 1px;

}

#enviar {

    margin: 15px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background-color: #5568fe;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    width: 95px;
    margin-left: 175px;
    margin-bottom: 5px;


}
#enviar:hover {

    background-color: #5568fe;
    padding: 8px;
    transition: 0.25s;
    text-decoration: none;
    border-radius: 2px;

}

a {

    margin: 15px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    color: rgb(65, 62, 62);
    font-size: 15px;
    margin-top: 10px;
    width: 95px;
    margin-left: 175px;
    margin-bottom: -20px;
    border-bottom: 1px solid rgb(65, 62, 62);
    

}

span{

    font-size: 16px;
    color: rgb(65, 62, 62);
    font-weight: bold;
    

}





