body {
    background: url("../imagens/fundo.avif") no-repeat center center;
    background-size: cover;
    font-family: system-ui, -apple-system,Arial, Helvetica, sans-serif;

}

.area-login{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.login{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 96);
    border-radius: 10px;
    width: 655px;
    height: 620px ;
    padding: 35px;

}

.login form{

    display: flex;
    width: 100%;
    flex-direction: column;

}

.login input{

    margin-top: 10px;
    background-color: white;
    padding-left: 10px;
    color: black; 
    border: none;
    height: 45px;
    outline: none;
    border-radius: 10px;

}

.login img{

    width: 240px;
    height: auto;
    justify-content: center;
    align-items: center;

}

input::placeholder{

    color: rgb(65, 62, 62);
    font-size: 14px;

}

form button{

    display: block;
    background-color: #5568fe;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-left: 220px;
    justify-content: center;
    align-items: center;

}

p{

    color: rgb(65, 62, 62);
    font-size: 15px;
    margin-top: 30px;

}

a{

    color: #5568fe;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;

}

span{

    font-size: 16px;
    color: rgb(65, 62, 62);
    font-weight: bold;

}
